*{
  background-color: rgb(33,37,41);
}

.div{
  width: 80%;
  height: 205px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 28px;
  display: flex;
  align-items: center;
  padding: 2%;
  color: #fff;
}

.label{  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  display: flex;
  align-items: center;
  background: linear-gradient(271.64deg, #005C84 2.25%, rgba(69, 210, 255, 0.58) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.divimg{
  width: 552px;
height: 345px;
}
.img{
  position: absolute;
  width: 480px;
  height: 292px;
}

.tools{
  width: 883px;
height: 47px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 75px;
display: flex;
align-items: center;

background: linear-gradient(271.64deg, #005C84 2.25%, rgba(69, 210, 255, 0.58) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}

.divimgtools{
  display: flex;
  /* flex-direction: row; */
  /* justify-content: center; */
  /* align-items: center; */
  /* padding: 45px 67px; */
  /* gap: 60px; */
  width: 3990.44px;
  height: 290px;
}

.sectioncontact{
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 9px 24px;
gap: 20px;
isolation: isolate;

width: 1280px;
height: 711px;

background: #FFFFFF;
}

.lblcontact{
  width: 499px;
height: 47px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 75px;
display: flex;
align-items: center;

background: linear-gradient(271.64deg, #005C84 2.25%, rgba(69, 210, 255, 0.58) 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
}